<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Daniel Palmer ServiceNow Developer</title>
    <meta name="description" content="Daniel Palmer ServiceNow Developer Resume and Portfolio Webpage">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
    <script src="https://use.fontawesome.com/34df803b3b.js"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <link href="https://s3.amazonaws.com/danielmpalmer.com/CSS/dpCSS.css" rel="stylesheet">
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div id="cover"></div>
    <canvas id="myCanvas"></canvas>
    <!--Main Title Div Begin-->
    <div class="mainHead">
        <div class="container text-center">
            <div class="icon"></div>
            <h1 ng-bind-html="mainTitle"></h1>
            <h4 ng-bind-html="subTitle"></h4>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="https://s3.amazonaws.com/danielmpalmer.com/Resume/Daniel_Palmer_Resume.pdf" download><button type="button" class="myButtons" id="download">Download Resume</button></a>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="#footer"><button type="button" class="myButtons" id="contact">Contact</button></a>
                </div>
            </div>
        </div>
    </div>
    <!--Main Title Div End-->
    <!--About Me Begin-->

    <div class="container-fluid allDivs divWrap about">
        <div class="container text-center">
            <div class="faCons scrollIcon"><i class="fa fa-user" aria-hidden="true"></i></div>
            <h2 class="scrollHeading">About Me</h2>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="text-center helloPara scrollInfo" ng-bind-html="aboutMe"></h4>
            </div>
        </div>
    </div>
    <!--About Me End-->
    <!--Skills Begin-->
    <div class="container-fluid allDivs skills divWrap">
        <div class="container text-center">
            <div class="faCons scrollIcon"><i class="fa fa-code" aria-hidden="true"></i></div>
            <h2 class="scrollHeading">Skills</h2>
        </div>
        <div class="container scrollInfo">
            <!--Row 1 Begin-->
            <div class="row col-xl-8 col-xl-offset-2 col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <h4>HTML</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                            <span class="sr-only">85%</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <h4>CSS</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                            <span class="sr-only">70%</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <h4>JavaScript</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                            <span class="sr-only">60%</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Row 1 End-->
            <!--Row 2 Begin-->
            <div class="row col-xl-8 col-xl-offset-2 col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <h4>JQuery</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                            <span class="sr-only">50%</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <h4>BootStrap</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                            <span class="sr-only">80%</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <h4>Angular</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                            <span class="sr-only">30%</span>
                        </div>
                    </div>

                </div>
            </div>
            <!--row 2 end-->
            <!--row 3 begin-->
            <div class="row col-xl-8 col-xl-offset-2 col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <h4>SQL</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:20%">
                            <span class="sr-only">20%</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <h4>ServiceNow</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                            <span class="sr-only">85%</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <h4>VueJS</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                            <span class="sr-only">10%</span>
                        </div>
                    </div>

                </div>
            </div>
            <!--row 3 end-->
            <!--row 4 begin-->
            <div class="row col-xl-8 col-xl-offset-2 col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <h4>NodeJS</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                            <span class="sr-only">10%</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <h4>Linux</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:15%">
                            <span class="sr-only">15%</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <h4>AWS</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:15%">
                            <span class="sr-only">15%</span>
                        </div>
                    </div>

                </div>
            </div>
            <!--row 4 end-->
        </div>
    </div>
    <!--Skills End-->
    <!--Begin Portfolio-->
    <div class="container-fluid portfolio divWrap">
        <div class="container text-center">
            <div class="faCons scrollIcon">
                <i class="fa fa-folder-open-o" aria-hidden="true"></i>
            </div>
            <h2 class="scrollHeading">Portfolio</h2>
            <header class="text-left scrollInfo">ServiceNow</header>
            <div class="scrollInfo">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="snImages in imageLinksServiceNowRow1">
                        <div class="card">
                            <div class="cardHeader"></div>
                            <div class="cardBody"><img src={{snImages.link}} id="bsiVerify" width="100%" alt={{snImages.alt}}></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Row-->
            <div class="scrollInfo">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="snImages in imageLinksServiceNowRow2">
                        <div class="card">
                            <div class="cardHeader"></div>
                            <div class="cardBody"><img src={{snImages.link}} id="lp" width="100%" alt={{snImages.alt}}></div>

                        </div>
                    </div>
                </div>
                <!--End Row-->
            </div>
            <header class="text-left scrollInfo">Webpage Designs</header>
            <div class="scrollInfo">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="webpageImage in webpageImages">
                        <div class="card">
                            <div class="cardHeader"></div>
                            <div class="cardBody"><img src={{webpageImage.link}} id="coliseum" width="100%" alt={{webpageImage.alt}}></div>
                        </div>
                    </div>
                </div>
                <!--End Row-->
            </div>
        </div>
    </div>

    <!--End Portfolio-->
    <!--Begin Footer-->
    <div class="footer divWrap" id="footer">
        <div class="container-fluid">
            <div class="text-center">
                <div class="faCons scrollIcon">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <h2 class="scrollHeader" ng-bind-html="footerHeader"></h2>
                <h4 class="scrollInfo">{{footerInfo}}</h4>
                <div class="footerLinks scrollInfo">
                    <a href="mailto:dmpalmer212@gmail.com?Subject=Hello%20Daniel">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/danielmichaelpalmer/" target="_blank">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/dpalmerGitHub" target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--End Footer-->
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="images">
        <div id="caption"></div>
    </div>
    <!--End Modal Template-->

    <noscript>Your browser does not support JavaScript! Please enable javascript on your browser.</noscript>
    <script>
        "use strict";

        var app = angular.module("myApp", ['ngSanitize']);

        app.controller("myCtrl", function($scope) {
            $scope.mainTitle = "ServiceN<i class='fa fa-power-off' aria-hidden='true'></i>w Developer";
            $scope.subTitle = "Custom Applications || Platform Development || Instance Administration"
            $scope.aboutMe = "Hello, my name is <strong><u><a href='mailto:dmpalmer212@gmail.com?Subject=Hello%20Daniel'>Daniel Palmer</a></u></strong>, a ServiceNow administrator and developer that specializes in developing custom applications and webpages within the ServiceNow\
                    platform for Kate Spade and Company. My experience developing in ServiceNow sparked an interest in learning more about front-end development, leading me to improve my skills in <strong>JavaScript</strong>, <strong>JQuery</strong>, <strong>Angular</strong>, <strong>BootStrap</strong>, <strong>HTML</strong>, <strong>CSS</strong> and\
                    more. Have a look at my resume and portfolio, and if you have any questions, I'm only one email away.";
            $scope.footerHeader = "Let's Talk N<i class='fa fa-power-off' aria-hidden='true'></i>w";
            $scope.footerInfo = "Feel free to email me anytime at dmpalmer212@gmail.com";
            $scope.imageLinksServiceNowRow1 = [{
                "link": "https://s3.amazonaws.com/danielmpalmer.com/Images/bsiVerify.PNG",
                "alt": "Custom application 'BSI Verify' uploaded to Servicenow Share site"
            }, {
                "link": "https://s3.amazonaws.com/danielmpalmer.com/Images/projectTaskCreator.PNG",
                "alt": "Custom module to add tasks to projects via ajax"
            }, {
                "link": "https://s3.amazonaws.com/danielmpalmer.com/Images/storeUnverifiedReturns.PNG",
                "alt": "Custom application utilized by Kate Spades Application Support team in researching unverified store and ecommerce returns"
            }]
            $scope.imageLinksServiceNowRow2 = [{
                "link": "https://s3.amazonaws.com/danielmpalmer.com/Images/lossPrevention.PNG",
                "alt": "Custom loss prevention module utilized by all Kate Spade store associates to report loss prevention incidents"
            }, {
                "link": "https://s3.amazonaws.com/danielmpalmer.com/Images/shipmentPage1.PNG",
                "alt": "ServiceNow webpage utilized by stores to research in-transit cartons (1/2)"
            }, {
                "link": "https://s3.amazonaws.com/danielmpalmer.com/Images/shipmentPage2.PNG",
                "alt": "ServiceNow webpage utilized by stores to research in-transit cartons (2/2)"
            }];
            $scope.webpageImages = [{
                "link": "https://s3.amazonaws.com/danielmpalmer.com/Images/coliseum.PNG",
                "alt": "Test design for boxing gym webpage"
            }, {
                "link": "https://s3.amazonaws.com/danielmpalmer.com/Images/contact.PNG",
                "alt": "Contact Form for previous personal site linked to Google spreadsheet"
            }, {
                "link": "https://s3.amazonaws.com/danielmpalmer.com/Images/portfolioCover.PNG",
                "alt": "Custom portfolio site cover page design"
            }];


        });
        window.onload = function() {

            window.sr = ScrollReveal();
            sr.reveal('.scrollIcon', {
                duration: 500
            });
            sr.reveal('.scrollHeading', {
                duration: 500
            });
            sr.reveal('.scrollInfo', {
                duration: 1000
            });

            $("#cover").css({
                "display": "none",
                "z-index": 0
            });

            $(".icon").text("<D/P>"); //Brand
            $(".mainHead h1").fadeIn(2500); //FADE IN SERVICENOW DEVELOPER TITLE
            $(".mainHead h4").fadeIn(5000); //FADE IN SERVICENOW DEVELOPER TITLE
            $("#download,#contact").fadeIn(7000); //FADE IN BUTTONS

            //MODAL SCRIPT FOR IMAGES
            var i;
            var modal = document.getElementById('myModal');
            var imageIds = document.getElementsByTagName("img");
            var modalImg = document.getElementById("images");
            var captionText = document.getElementById("caption");
            var imageIdsLength = imageIds.length
            for (i = 0; i < imageIdsLength; i++) {
                imageIds[i].onclick = function() {
                    modal.style.display = "block";
                    modalImg.src = this.src;
                    captionText.innerHTML = this.alt;
                }
            }
            var spans = document.getElementsByClassName("close");
            var spansLength = spans.length;
            for (i = 0; i < spansLength; i++) {
                spans[i].onclick = function() {
                    modal.style.display = "none";
                }
            }

            //END MODAL SCRIPT FOR IMAGES

            //Begin Canvas Script
            var canvas = document.getElementById("myCanvas");

            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;

            var c = canvas.getContext("2d");

            var mouse = {
                x: undefined,
                y: undefined
            }
            var maxRadius = 20;
            var minRadius = 2;

            window.addEventListener("mousemove", function(event) {
                mouse.x = event.x;
                mouse.y = event.y;
            })





            window.addEventListener("resize", function() {
                canvas.width = window.innerWidth;
                canvas.height = window.innerHeight;
                init();
            });

            function Circle(x, y, dx, dy, radius) {
                this.x = x;
                this.y = y;
                this.dx = dx;
                this.dy = dy;
                this.radius = radius;
                this.minRadius = radius;
                this.draw = function() {
                    c.beginPath();
                    c.arc(this.x, this.y, this.radius, 0, Math.PI * 2, false);
                    c.fillStyle = "purple";
                    c.fill();
                }


                this.update = function() {
                    if (this.x + this.radius > innerWidth || this.x - this.radius < 0) {
                        this.dx = -this.dx;
                    }

                    if (this.y + this.radius > innerHeight || this.y - this.radius < 0) {
                        this.dy = -this.dy;
                    }
                    this.x += this.dx;
                    this.y += this.dy;
                    //mouse interactivity
                    if (mouse.x - this.x < 100 && mouse.x - this.x > -100 && mouse.y - this.y < 100 && mouse.y - this.y > -100) {
                        if (this.radius < maxRadius) {
                            this.radius += 1;
                        }
                    } else if (this.radius > this.minRadius) {
                        this.radius -= 1;
                    }



                    this.draw();
                }

            };
            var circleArray = [];
            for (var i = 0; i < 800; i++) {
                var radius = 1;
                var x = Math.random() * (innerWidth - radius * 2) + radius;
                var y = Math.random() * (innerHeight - radius * 2) + radius;
                var dx = (Math.random() - 0.5) * 10;
                var dy = (Math.random() - 0.5) * 10;
                circleArray.push(new Circle(x, y, dx, dy, radius));
            }

            function init() {
                circleArray.length = 0;
                for (var i = 0; i < 800; i++) {
                    var radius = 1;
                    var x = Math.random() * (innerWidth - radius * 2) + radius;
                    var y = Math.random() * (innerHeight - radius * 2) + radius;
                    var dx = (Math.random() - 0.5) * 10;
                    var dy = (Math.random() - 0.5) * 10;
                    circleArray.push(new Circle(x, y, dx, dy, radius));
                }

            }

            function animate() {
                requestAnimationFrame(animate);
                c.clearRect(0, 0, innerWidth, innerHeight);
                for (var i = 0; i < circleArray.length; i++) {
                    circleArray[i].update();
                }
            }

            animate();
            //End Canvas


            //Begin Google Analytics Script
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-100774419-1', 'auto');
            ga('send', 'pageview');
            //End Google Analytics Script
        }
    </script>

</body>

</html>